@import 'tailwindcss';

body {
  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}

button:hover {
  transition: all 0.3s;
  transform: scale(1.05);
}

button:active {
  transform: scale(1);
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
